<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ProjectLegos/src/MotorOps.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.lejos.ev3.ldt.LaunchEV3ClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MotorOps"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProjectLegos"/>
<booleanAttribute key="org.lejos.ev3.ldt.ConnectToName" value="false"/>
<stringAttribute key="org.lejos.ev3.ldt.ConnectionName" value=""/>
<booleanAttribute key="org.lejos.ev3.ldt.connectionUseDefaults" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.debug.runAfterUpload" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.debug.useDefaults" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.run.runAfterUpload" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.run.useDefaults" value="false"/>
</launchConfiguration>
